<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Uutisen hallintapaneeli</title>
        <link th:href="@{/tyylit/main.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <span th:replace="navigaatio :: header"/>
        <div th:if="${viesti}" th:text="${viesti}" class="isa_success">
            <i class="fa fa-check"></i>
        </div>
        <h2>Uutisten hallintapaneeli</h2>
        <a th:href="@{/muokkaus}">Aloita uutisten muokkaus</a><br/>
        <a th:href="@{/lahetauutinen}">Laheta uutinen</a><br/>
        <a th:href="@{/valitsekategoriat}">Valitse navigaation kategoriat</a><br/>

    </body>
</html>
